[Unit]
Description= Simple Coffee App
After=network.target

[Service]
WorkingDirectory=/coffeeAPI
ExecStart=/coffeeAPI/venv/bin/gunicorn app:app --bind 0.0.0.0:8080
Type=simple

[Install]
WantedBy=default.target
